/*design*/

*,
*::before,
*::after {
  box-sizing: border-box;

}

html,
body,
.wrapper {
  height: 50%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #e5c9c9;


}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 69%, 30%);
}



.card-header::after {
  
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;

}

.card-body {
  min-height: 100px;
  min-width: 50px;
}

.card-footer {
  text-align: center;
}





.btn {
  border: none;
  background-color: hsl(260, 89%, 41%);
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}



.float-right {
  float: right;
}

#password {
  display: block;
  width: 40%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 90px;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #38495c;
  border-radius: 8px;
  resize: none;
  overflow: hidden;
  margin: 0 auto;
}

;
